body {
    font-family: "Roboto", sans-serif;
}

*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: white;
    border-radius: 20px;
    height: 100px;
    padding-right: 10px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #DF9572;
  }


.banner {
    text-align: center;
}

.board-container {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.grid-player-container {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 3px;
}

.grid-computer-container {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 3px;
}

.grid-cell {
    width: 100%;
    height: 100%;
    background-color: #bbd1d7;
    border-style: solid;
    border-color: white;
    cursor: pointer; 
}

.grid-cell.player-ship {
    background-color: #A7A8AC;
}

.grid-cell.computer-ship {
    background-color: #f22c3d;
}

.ship-circle {
    position: relative;
    transform: translate(50%, 50%);
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    border-radius: 50%;
    background-color: white; /* Adjust as needed */
    display: none; /* Initially hide */
}

.grid-cell.computer-ship.destroyed {
    background-color: #1c191d; 
}




.message-container {
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 427px;
}

.message {
    width: 300px;
    font-family: "Roboto", sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: -20px;
}

.button {
    display: flex;
    justify-content: center;
}

.start-button {
    width: 200px;
    font-size: 15px;
    color: white;
    border: none;
    background-color: #DF9572;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #FFB282;
    cursor: pointer;
}