h1 {
    color: red;
}

body {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0; 
}

.game-container {
    width: 1000px;
    background-color: white;
    border-style: solid;
    border-color:black;
    padding: 10px;
    font-family: 'Outfit', sans-serif;
}

.banner {
    display: block;
}

.banner h1 {
    font-family: 'Outfit', sans-serif;
}

.gameboard {
    display: flex;
    justify-content: space-evenly;
}

.playerboard {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 0;
}

.pcboard {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 0;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: lightblue;
    border: 2px solid #000;
    position: relative;
}

.ship-cell {
    background-color: red;
    position: relative;
}

.hit-circle {
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}