h1 {
    color: red;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}

.game-container {
    background-color: white;
    border-style: solid;
    border-color:black;
    padding: 10px;
    font-family: 'Outfit', sans-serif;
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 2fr 1fr;
}

.banner {
    display: block;
}

.banner h1 {
    font-family: 'Outfit', sans-serif;
}

.gameboard {
    display: flex;
    justify-content: space-evenly;
}

.playerboard {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 5px;

}

.playerboard-label {
    display: flex;
    justify-content: center;
}

.pcboard {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 5px;
}

.pcboard-label {
    display: flex;
    justify-content: center;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: #82acca;
    border: 1px solid white;
    position: relative;
    cursor: pointer;
}

.ship-cell {
    background-color: #ff0000;
    position: relative;
}

.hit-circle {
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    box-shadow: 3px 3px grey;
}

.ship {
    display: flex;
    cursor: pointer;
}

.ship-section {
    display: flex;
}

.ship-section h4 {
    width: 100px;
}

.ship-section .cell {
    background-color: #21c69f;
}

.ship-container {
    display: grid;
    grid-template-columns: repeat(5, 40px);
    gap: 5px;
}

.cell .highlight {
    background-color: yellow;
    border: 1px solid orange; /* Customize the border as needed */
}

.message-list-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.message-list {
    background-color: white;
    border: 2.5px solid black;
    border-radius: 10px;
    height: 440px;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
}

.message-list-label {
    display: flex;
    justify-content: center;
}

.messages {
    padding-bottom: 10px;
}

.winner-text {
    border: 2.5px solid black;
    text-align: center;
    padding: 5px;
    background-color: green;
    color: white;
    border-radius: 3px;
    text-decoration: underline green;
}